/* css variables */
:root {
    --dark-100: #141414;
    --dark-200: #292929;
    --dark-300: #404040;
    --dark-400: #585858;
    --dark-500: #727272;
    --dark-600: #8c8c8c;
}

/* clearing defaults styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;

}

body {
    background-color: var(--dark-100);
    color: white;
    width: 100%;

}

/* colors : Adobe colors,Colors,colorspace,colorhunt */

/* Fonts: google fonts,Web sets fonts,CDN fonts */



a {
    text-decoration: none;
    color: white;
    transition: all 0.28s ease-in;
}

a:hover {
    color: var(--dark-400);
}

.stroke-text {
    -webkit-text-stroke: 2px var(--dark-500);
    color: transparent;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 16px;
}

.btn {
    background-color: var(--dark-300);
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
}

.btn:hover {
    background-color: var(--dark-200);
    color: white;
}


/* projects class header  */
.header {
    margin: 0 auto;
    width: 600px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 40px;
    font-weight: 800;

}

.header p {
    text-align: center;
    font-size: 18px;
}




section {
    padding: 20px 40px;

}

/* header */

header {
    padding: 20px 40px;


}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.logo a {
    font-size: 32px;
    font-weight: 600;

}

.nav-menu a {
    font-size: 24px;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* section */
#home {
    /* height: 600px; */
    height: 70vh;
    display: flex;

}


.left,
.right {
    width: 50%;


}

.left {
    /* background-color: rgb(20, 41, 41); */
    height: 100%;
    display: flex;
    align-items: center;
}


.right {
    /* background-color: #8c8c8c; */
    height: 100%;
    position: relative;
}

.right .card {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.rotate-45,
.rotate-minus-45 {
    width: 600px;
    height: 400px;
    background-color: transparent;
    border: 1px solid var(--dark-500);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.right .card img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.rotate-45 {
    transform: rotate(45deg);
    filter: brightness(0.3);
}

.rotate-minus-45 {
    transform: rotate(-55deg);
    filter: brightness(0.3);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}



/* projects */

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    place-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 14px;
    background-color: var(--dark-100);
    border-radius: 7px;
    padding: 20px 40px;
    width: 350px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

.project-image img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}


.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.project-title {
    font-size: 32px;
}

.project-desc {
    font-size: 14px;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-more-btn {
    background-color: var(--dark-200);
    padding: 10px 20px;
    border-radius: 7px;
}



/* Skills */
#skills {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.my-skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
    gap: 30px;
    place-items: center;
    margin-top: 40px;
}

.skill {
    background-color: transparent;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    width: 150px;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    transition: all 0.3s ease;
}

.skill:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.skill i {
    font-size: 3rem;
    color: var(--dark-600);
}




/* contacts */
#contact {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: var(--dark-500); */
    color: white;


}

.Contact .background {
    background: url("../images/ps-2022-cover.png") no-repeat;
    background-size: cover;
    background-position: top;
    filter: brightness(0.5);
    width: 100%;
    height: 500px;

}

/* Contact */

.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    position: relative;



}

.contact-form {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(0, -50%);
    width: 400px;
    padding: 20px;
    background-color: var(--dark-100);
    border-radius: 7px;
}

.contact-form h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    background-color: transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--dark-500);
    border-radius: 5px;
    color: white;
}


textarea {
    max-width: 100%;
    max-height: 200px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--dark-500);
}

.form-group button {
    padding: 10px;
    color: white;
    width: 100%;
    font-size: medium;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.form-group button:hover {
    background-color: var(--dark-300);
}




/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-300);
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 20px 40px;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  footer .social-icons {
    display: flex;
    gap: 10px;
  }
  
  footer i {
    font-size: 1.5rem;
    color: var(--dark-500);
    transition: all 0.3s ease;
  }
  
  footer i:hover {
    color: var(--dark-300);
  }



/* Media Queries */

@media (max-width: 1370px) {
    .my-skills {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .header {
      width: 80%;
    }
  }
  
  @media (max-width: 1200px) {
    #home {
      padding: 0px;
      min-height: 70vh;
      position: relative;
    }
  
    #home .background {
        background-image: url("../images/ps-2022-cover.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        filter: brightness(0.5);
      }
    
  
    .projects-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .content h1 span {
      -webkit-text-stroke: 2px white;
      color: transparent;
    }
  
    .right {
      display: none;
    }
  
    .left {
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 1;
    }
  
    .left .content {
      width: 100%;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 0px;
      text-align: center;
    }
  }
  
  @media (max-width: 720px) {
    section {
      padding: 20px 10px;
    }
  
    #home {
      height: 50vh;
    }
  
    .projects-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  
    .projects-list .card {
      width: 300px;
    }
  
    .nav-menu {
      display: none;
    }
  
    .my-skills {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact-form {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  
    footer {
      padding: 10px 20px;
    }
  
    footer .footer-content p {
      font-size: 0.8rem;
    }
  
    footer i {
      font-size: 1.2rem;
    }
  }
  
  textarea {
    max-width: 100%;
    max-height: 200px;
  }
  
  @media (max-width: 370px) {
    .footer-content p {
      font-size: 0.9rem;
    }
  
    footer .social-icons {
      gap: 2px;
    }
  
    .footer i {
      font-size: 1rem;
    }
  }
  